* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}

marquee {
    background-color: black;
}

.head-master marquee p {
    color: gold;
    display: flex;
    gap: 50px;
    font-family: cursive;
    font-size: 12px;
}

.part-1 {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

input {
    width: 200px;
    height: 25px;
    border-radius: 20px;
    border: 2px solid black;
    padding-left: 5vw;
}

.fa-magnifying-glass {
    position: absolute;
    font-size: 15px;
    top: 5px;
    left: 5px;
}

.jome {
    position: relative;
}

input::placeholder {
    font-size: 17px;
}

.jome-baby a {
    font-size: 16px;
    color: black;
    font-weight: 600;
    font-family: sans-serif;
    text-decoration: none;
}

.jome-baby a:hover {
    transition: 0.5s;
    font-size: 17px;
}

.img-box {
    background-image: url(../img/c837a6_977fd116499b43ae8f309afaf18cbade~mv2.avif);
    height: 100vh;
    width: auto;
    background-size: cover;
    padding-top: 5px;
    display: flex;
    justify-content: space-evenly;
}

.img-box .text p {
    font-size: 30px;
    font-family: monospace;
    font-weight: 600;
    margin-top: 60px;   
}

.img-box-2 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 50%;
    background-color:black;
}

#head-text{
    width: 100vw;
    height: 4vh;
    margin: 10px;
}

.text-inner marquee{
    box-shadow: 0 0 20px rgb(0, 16, 247);
    width: 55vw;
    height: 4vh;
    margin-left: 20%;
    font-size: 20px;
    font-weight: 900;
    background-color: rgba(255, 228, 196, 0.205);
    color: black;
}
 marquee span{
    word-spacing: 5px;
}
marquee:hover{
    color: blue;
    font-size:24px ;
    transition: 1.5s;
}

.box-contain {
    height: 68vh;
    width: 30vw;
    margin: 20px;
    box-shadow: 0 0 15px rgba(216, 127, 10, 0.74);
}
.box-contain:hover{
    opacity: 1;
    scale: 1.07;
}

.box-contain img{
    height: 60vh;
    width: 30vw;
    background-size: cover;
}

.boxx{
    height: 7vh;
    width: 24vw;
    margin:auto;
    box-shadow: 0 0 10px rgba(0, 81, 255, 0.432);
}

.boxx p{
    color: rgba(255, 255, 255, 0.863);
    font-size:20px;
    font-family: monospace;
}

.boxx span a{
    color: blue;
    font-size: 13px;
    padding-left: 45%;
}

.box-2{
    background-image: url(../img/c837a6_85f98ee8e54f46219d6accebd1eac92a~mv2.avif);
    height: 100vh;
    width: auto;
    padding: 20px;
    margin: 15px;
    box-shadow: 0 0 100px rgba(65, 50, 50, 0.822);
    
}
.inner{
    display: flex;
    height: 45vh;
    width: 70vw;
    justify-content: space-between;
    margin-left: 45px;
}
.intext1{
    height: 200px;
    width: 400px;
    font-size: 75px;
}
.intext2{
    height: 500px;
    width: 300px;
    font-size: 75px;
}

.inner1{
    height: 260px;
    width: 300px;
    font: 14px monospace ;
    margin: 50px 50px;
}

#section-e {
    background-color: black;
    display: flex;
    justify-content: center;
    gap: 10vw;
    padding: 5vw;
}

 .section-last{
    height: 70vh;
    width: 100vw;
    background-color: black;
    display: flex;
    justify-content: center;
    gap: 40%;
}
.section-last p{
    color: white;
    font: 2em cursive;
}
.last1{
    height: 50vh;
    width: 50vw;
    background-color: rgb(187, 178, 178);
    margin-top: 10vmin;
}
.last1 p{
    color: black;
    font-size: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    padding: 20px;
}
.last1 input{
    height: 15%;
    width: 80%;
    border: 2px dotted black;
} 

